[submodule "cmdcheatsheet"]
	path = cmdcheatsheet
	url = https://github.com/wklken/cmdcheatsheet.git
[submodule "DoxygenToolkit.vim"]
	path = vim/team_bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "Stupid-EasyMotion"]
	path = vim/team_bundle/Stupid-EasyMotion
	url = https://github.com/joequery/Stupid-EasyMotion.git
[submodule "Vundle.vim"]
    path = vim/team_bundle/Vundle.vim
    url = git@github.com:gmarik/Vundle.vim.git
[submodule "ag.vim"]
    path = vim/team_bundle/ag.vim
    url = https://github.com/rking/ag.vim.git
[submodule "cscope_maps"]
    path = vim/team_bundle/cscope_maps
    url = https://github.com/leiming/cscope_maps.git
[submodule "ctrlp.vim"]
    path = vim/team_bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
[submodule "ctrlsf.vim"]
    path = vim/team_bundle/ctrlsf.vim
    url = https://github.com/dyng/ctrlsf.vim.git
[submodule "editorconfig-vim"]
    path = vim/team_bundle/editorconfig-vim
    url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "emmet-vim"]
    path = vim/team_bundle/emmet-vim
    url = https://github.com/mattn/emmet-vim.git
[submodule "fisa-vim-colorscheme"]
    path = vim/team_bundle/fisa-vim-colorscheme
    url = https://github.com/fisadev/fisa-vim-colorscheme.git
[submodule "html5.vim"]
    path = vim/team_bundle/html5.vim
    url = https://github.com/othree/html5.vim.git
[submodule "matchem"]
    path = vim/team_bundle/matchem
    url = https://github.com/ervandew/matchem.git
[submodule "nerdtree"]
    path = vim/team_bundle/nerdtree
    url = https://github.com/leiming/nerdtree.git
[submodule "nginx-vim-syntax"]
    path = vim/team_bundle/nginx-vim-syntax
    url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "phpcomplete.vim"]
    path = vim/team_bundle/phpcomplete.vim
    url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "phpfolding.vim"]
    path = vim/team_bundle/phpfolding.vim
    url = https://github.com/rayburgemeestre/phpfolding.vim.git
[submodule "supertab"]
    path = vim/team_bundle/supertab
    url = https://github.com/ervandew/supertab.git
[submodule "tagbar"]
    path = vim/team_bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
[submodule "tcomment_vim"]
    path = vim/team_bundle/tcomment_vim
    url = https://github.com/tomtom/tcomment_vim.git
[submodule "tlib_vim"]
    path = vim/team_bundle/tlib_vim
    url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
    path = vim/team_bundle/vim-addon-mw-utils
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/team_bundle/vim-blackboard"]
    path = vim/team_bundle/vim-blackboard
    url = https://github.com/rickharris/vim-blackboard.git
[submodule "vim/team_bundle/vim-colors-solarized"]
    path = vim/team_bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-distinguished"]
    path = vim/team_bundle/vim-distinguished
    url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "vim-easy-align"]
    path = vim/team_bundle/vim-easy-align
    url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim-easymotion"]
    path = vim/team_bundle/vim-easymotion
    url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-fugitive"]
    path = vim/team_bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-gocode"]
    path = vim/team_bundle/vim-gocode
    url = https://github.com/Blackrush/vim-gocode.git
[submodule "vim-jsbeautify"]
    path = vim/team_bundle/vim-jsbeautify
    url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "vim-monokai"]
    path = vim/team_bundle/vim-monokai
    url = https://github.com/rickharris/vim-monokai.git
[submodule "vim-nerdtree-tabs"]
    path = vim/team_bundle/vim-nerdtree-tabs
    url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim-snipmate"]
    path = vim/team_bundle/vim-snipmate
    url = https://github.com/garbas/vim-snipmate.git
[submodule "vim-snippets"]
    path = vim/team_bundle/vim-snippets
    url = https://github.com/honza/vim-snippets.git
[submodule "vim-tomorrow-theme"]
    path = vim/team_bundle/vim-tomorrow-theme
    url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "vim-unimpaired"]
    path = vim/team_bundle/vim-unimpaired
    url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-vividchalk"]
    path = vim/team_bundle/vim-vividchalk
    url = https://github.com/tpope/vim-vividchalk.git
